<div class="container">
  <p>Offre Business Pro multi-adresses
    Abonnement GRATUIT et SANS ENGAGEMENT</p>
  <p>Nos engagements "Satisfait ou Remboursé"
    Des prix garantis sans surprise
    Une plateforme de commande multicanal
    La ponctualité de nos chauffeurs
    La sécurité de vos clients et collaborateurs</p>
  <p>Vous estimez qu’un de nos engagements n’a pas été respecté?</p>
  <p>NOUS VOUS REMBOURSONS INTEGRALEMENT LA COURSE.</p>
  <p>Vos avantages avec l'Offre Business Pro
    DES SERVICES SUR-MESURE GRATUITS :</p>
  <p>Solutions de commande multicanal (téléphone, site internet, application mobile, bouton connecté)
    Accès ultra-prioritaire et personnalisé avec vos identifiants dédiés
    Demandes illimitées de courses en immédiat ou à l'avance
    Accès à notre gamme complète de véhicules (à découvrir en cliquant ici)
    Choix de paiement par carte bancaire, automatique ou à bord
    Choix de tarification exclusive Prix Maximum Garanti ou au compteur (horokilométrique)
    Suivi de votre taxi en temps réel sur la carte
    Règlement des courses centralisé sur demande (facturation en fin de mois)
    Evaluation et notation de votre course en fin de trajet
    Assistance par téléconseillers dédiés 24h/24 et 7j/7</p>
  <p>LES + AVEC L'OFFRE BUSINESS PRO :</p>
  <p>Passager informé par 3 SMS (taxi en approche/ taxi bientôt arrivé/ taxi sur place)
    Votre taxi sur place en 5 minutes et moins
    Reporting mensuel détaillé de tous les déplacements
    Accueil personnalisé en gares et aéroports (attente du chauffeur avec pancarte au nom du passager)</p>
  <p>Pour plus de renseignements sur notre offre Business Pro, contactez-nous :</p>
  <p>M. Ahalala
    ahalala@ayditaxi.com
    08.36.65.65.65</p>
  <p>Via notre formulaire de contact</p>
</div>
