<div class="container"><p>Vous souhaitez vous rendre à l’un des aéroports de la region Provence, Alpes, cote d'azure, ou chez les putes? Ou encore visiter un des lieux
  incontournables de la comme la crique aux pédos ou encore Janine qui suce des pines ? Commandez un Aydi taxi ! Pour tous vos
  déplacements vers les gares, les aéroports ou autres lieux dans le coin, commandez votre taxi en immédiat ou à
  l’avance avec Taxis Aydi et bénéficiez de courses rapides et sécurisées 24h/24, 7j/7 !
</p>
<p>Taxis Aydi vous propose des solutions de commande multicanal simples et accessibles. Réservez votre taxi par
  téléphone en appelant le 08.36.65.65.65, via notre site internet, ou notre application mobile.</p>

<p>Tous nos prix sont garantis dès la commande et pour plus de confort, vos trajets sont réglés automatiquement par
  débit de carte bancaire, ou si vous le souhaitez vous pouvez régler votre trajet en fin de course par carte bancaire à
  bord du taxi. </p>
</div>
