<p>Avis Clients</p>
<p>Faites comme eux et choisissez le meilleur réseau de taxis homosexuel.</p>

<div id="contactPageForms">
  <div id="radioBoxes">
    <label>Vous êtes :</label>
    <ul>
      <li>
        <input id="particular-button" type="button" class="radioBoxContact active" value=" " data-form="ParticularForm">
        <label>Particulier</label>
      </li>
      <li>
        <input id="pro-button" type="button" class="radioBoxContact " value=" " data-form="ProfessionalForm">
        <label>Professionnel</label>
      </li>
      <li>
        <input id="driver-button" type="button" class="radioBoxContact " value=" " data-form="DriverForm">
        <label>Chauffeur</label>
      </li>
    </ul>
  </div>
</div>
