<div class="container">
  <form>
    <div class="form-group">
      <label for="depart">Départ</label>
      <input type="text" class="form-control" id="depart" aria-describedby="departHelp" placeholder="Lieux de départ">
      <small id="departHelp" class="form-text text-muted">Tu pars de ou là?</small>
    </div>
    <div class="form-group">
      <label for="arrive">Arrivé</label>
      <input type="text" class="form-control" id="arrive" placeholder="Lieux d'arrivé">
      <small id="arriveHelp" class="form-text text-muted">Toi même tu veux aller ou là?</small>
    </div>
    <div class="form-group">
      <label for="heure">Heure</label>
      <input type="text" class="form-control" id="heure" placeholder="heure">
      <small id="heureHelp" class="form-text text-muted">Tchiiiiiip</small>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
