<div class="container"><p>Vous avez un rendez-vous médical et souhaitez un taxi conventionné pour vous déplacer ? Avec Taxi Aydi, le taxi conventionnés par la Caisse
  Primaire d’Assurance Maladie (CPAM) et agréé par la Sécurité Sociale.</p>


<p>Commandez votre taxi conventionné CPAM
  Réservez votre taxi conventionné en immédiat ou à l'avance 24h/24 et 7j/7 :</p>

<p>Par téléphone au 3609
  Via le site internet
  Depuis l'application mobile sur IOS, Android, et Windows Phone.</p>

<p>Commandez votre taxi conventionné en sélectionnant la précision CPAM dans les options de course sur le site internet
  ou l'application mobile, ou en le précisant au téléconseiller lors de votre appel.</p>


<p>Les avantages de nos taxis conventionnés
  En choisissant un taxi conventionné Taxis Aydi, vous bénéficiez de services spécifiquement adaptés à vos besoins
  :</p>

<p>Plus grande flotte de taxis conventionnés par la Caisse Primaire d’Assurance Maladie
  Arrivée de votre taxi conventionné sur place en 5 minutes en moyenne
  Prise en charge de vos déplacements porte-à-porte, de votre domicile à votre lieu de rendez-vous médical
  Application du Tiers Payant à hauteur de 65% ou 100%, selon votre situation
  Une hotline disponible 24h/24 et 7j/7 avec un téléconseiller dédié</p>

<p>Bénéficiez du Tiers Payant
  N’avancez pas le montant de votre course en taxi ! Grâce au Tiers Payant, vos déplacements en taxi sont pris en
  charge. Vous devrez simplement présenter ces 3 documents à votre chauffeur de taxi :</p>

<p>Votre prescription médicale de transport, datée et signée par votre médecin ou centre médical
  Votre attestation de Sécurité Sociale de moins de 6 mois
  Votre carte vitale à jour</p>


<p>La prise en charge de votre déplacement en taxi conventionné en Tiers Payant se fera en fonction de votre situation
  :</p>


<p>Vous êtes pris en charge à 100% :</p>

<p>En présentant la liste des documents ci-dessus, vous n'aurez pas à régler votre course de taxi. Taxis Aydi
  effectuera toutes les démarches nécessaires auprès de votre organisme d'affiliation.</p>

<p>Vous êtes pris en charge à 65% :</p>

<p>Cas d'une entrée ou sortie d’hospitalisation
  Vous disposez d'une dispense d’avance de frais. Vous devrez régler 35% du montant de la course à bord de votre taxi.
  Taxis Aydi effectuera toutes les démarches nécessaires auprès de votre organisme d'affiliation. Il est à noter que
  certaines mutuelles peuvent prendre en charge et vous rembourser ces 35% à régler.</p>

<p>Vous êtes pris en charge à 65% :</p>

<p>Cas d'un déplacement médical hors entrée ou sortie d’hospitalisation
  Vous devrez régler la totalité de la course à votre chauffeur, qui vous remettra une facture de transport par taxi
  pour motif médical. certaines mutuelles peuvent prendre en charge ce type de frais.</p>


<p>Astuce : Pour garder une traçabilité de votre dossier CPAM, pensez à faire une photocopie du volet n°2 de votre
  prescription médicale de transport avant de remettre l'original au chauffeur (hors transport itératif, où vous devrez
  remettre une photocopie à chaque transport)</p>

<p>Attention ! Lors de votre commande de taxi, veillez à bien demander un taxi conventionné pour vos déplacements
  médicaux. Si vous utilisez un taxi non conventionné, le coût de votre déplacement ne sera pas du tout remboursé par
  l'Assurance Maladie et restera intégralement à votre charge</p>.


<p>Pour plus de renseignements sur les conditions de prise en charge de vos trajets conventionnés CPAM :</p>

<p>Contactez-nous via notre formulaire de contact
  Rendez-vous sur votre espace ameli : www.ameli.fr</p>
</div>
