<div class="container">
  <div>
    <p>Aydi Taxi vous propose des solutions simples pour commander un taxi. Au bureau, dans la rue ou depuis chez vous,
      réservez votre taxi en immédiat ou en avance par le canal de votre choix ! Toutes nos solutions de commande de
      taxi
      sont disponibles 24h/24, 7j/7 !</p>


    <p>Téléphone

      En savoir plus
      Site Internet

      En savoir plus
      Application Mobile

      En savoir plus</p>

    <p>Par téléphone au 3609
      Pour commander un taxi, appelez le 3609, et n’attendez plus au téléphone ! Notre service de commande est optimisé
      pour enregistrer vos réservations de taxi 24h/24 et 7j/7 en un minimum de temps :</p>

    <p>Commande 100% automatisée : enregistrement d'adresses par reconnaissance vocale et mémorisation des adresses
      favorites, validation de l’adresse et de l’heure de départ, confirmation des caractéristiques du taxi.</p>

    <p>Commande par téléconseiller : nos téléconseillers prennent en charge vos demandes particulières (Taxis Verts,
      Taxi
      XL ou Monospace, Taxi Première Classe, Taxi conventionné CPAM ou Paiement Automatique par carte bancaire et Prix
      Maximum Garanti).</p>


    <p>Pour vos appels depuis l'étranger, composez le 00 33 (0)1 41 52 54 25.</p>


    <p>Sur notre site Internet
      Commandez votre taxi en ligne en quelques clics, depuis votre ordinateur, tablette, ou mobile !</p>

    <p>Notre site responsive s'adapte à tous les écrans pour vous offrir une expérience de commande simple et
      rapide.</p>

    <p> Vous bénéficiez de tous les avantages Aydi Taxi : Paiement automatique par carte bancaire, Paiement à bord
      (espèces ou carte bancaire), et large choix de véhicules (Taxis Verts, Taxi XL ou Monospace, Taxi Première Classe,
      taxi conventionné).</p>

    <p>Visualisez en temps réel les taxis à proximité et les détails de votre trajet (prix, distance et durée
      estimés).</p>

    <p>Suivez en temps réel l’arrivée de votre taxi sur le site ou via le lien envoyé par mail et SMS.</p>

    <p>Notez votre trajet à l’issue de la course et laissez un avis.</p>


    <p>Astuce 1 : Activez l’option « ONE CLIC » dans votre profil, et personnalisez vos préférences de commande ! Vous
      réservez alors directement depuis la page d’accueil d’un seul clic !</p>

    <p>Astuce 2 : Enregistrez vos adresses favorites dans votre profil (domicile, travail) pour des courses encore plus
      rapides !</p>


    <p>Avec notre application mobile
      Téléchargez notre application pour commander votre taxi en quelques clics, depuis votre smartphone IOS, Android,
      ou
      montre connectée ! (Apple Watch et Sony Smartwatch 2)*</p>

    <p>Bénéficiez de tous les avantages Aydi Taxi : Paiement automatique par carte bancaire, Paiement à bord, et large
      choix de véhicules (Taxis Verts, Taxi Grand Format, taxi conventionné CPAM).</p>

    <p>Visualisez en temps réel les taxis à proximité et les détails de votre trajet (prix, distance et durée
      estimés).</p>

    <p>Suivez en temps réel l’arrivée de votre taxi sur l’application ou via le lien envoyé par mail et SMS.
    </p>
    <p>Evaluez votre trajet à l’issue de la course.</p>


    <p>Astuce 1 : Sélectionnez le mode de course Partage de Taxi et économisez jusqu'à 40% sur le prix compteur de votre
      trajet !</p>

    <p>Astuce 2 : Enregistrez vos adresses favorites dans votre profil (domicile, travail) pour des courses encore plus
      rapides !</p>

  </div>
</div>
